/* Master styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: lightcyan;
    font-size: 1.2rem;
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Content styles */
.social-media-wrapper {
    position: relative;
}

.social-media-background {
    height: 489px;
    width: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
    
.social-media-icons {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    padding: 10px;
    transition: 0.2s ease-in-out; 
}

.social-media-icon:hover {
    transform: scale(1.2); 
}

.contact-button {
    position: absolute;
    top: 280px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: cyan;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.contact-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.contact-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
  
.contact-button:hover span {
    padding-right: 20px;
}

.contact-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    display: grid;
    position: relative;
}

.profile-content-text {
    position: absolute;
    top: -20px;
    padding: 30px
}

.profile-content-text h1 {
    color: lightseagreen;
}

/* Past projects */

.projects-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.project-wrapper {
    position: relative;
}

.project-img-background {
    height: 430px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .logo-wrapper img {
    opacity: 0;
    transition: 0.7s;
}

.img-text-wrapper:hover .logo-wrapper img {
    opacity: 1;
}

.img-text-wrapper .subtitle {
    transition: 0.7s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 0.7s;
    filter: brightness(10%);
}