/* Master styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: lightcyan;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
}

.navbar > .nav-links > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 1rem;
}

.nav-link-wrapper {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding:22px;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.active .bar2 {opacity: 0;}

.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Content styles */

.home-content-wrapper {
    background-image: url("images/space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 40% 60%;
}

.opening-words {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.social-media-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    margin: 0 auto;
}
    
.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    padding: 10px;
    transition: 0.2s ease-in-out; 
}

.social-media-icon:hover {
    transform: scale(1.2); 
}

.contact-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: cyan;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.contact-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.contact-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
  
.contact-button:hover span {
    padding-right: 20px;
}

.contact-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* About page */
.two-column-wrapper {
    display: flex;
    flex-direction: row;
}

.profile-image-wrapper {
    flex: 0.8;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    flex: 1;
}

.profile-content-text {
    padding: 25px;
}

.profile-content-text h1 {
    color: lightseagreen;
}

.profile-content-text p {
    text-align: justify;
}

/* projects */

.projects-wrapper {
    display: flex;
    flex-direction: column;
}

.project-wrapper {
    position: relative;
}

.project-img-background {
    height: 430px;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.7s;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle {
    transition: 0.7s;
    font-weight: 600;
    color: transparent;
    text-align: left;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.project-wrapper:hover .project-img-background {
    opacity:1;
    filter: brightness(10%);
}

/* For mobile */
@media screen and (max-width: 576px) {
    /* Home */
    .logo {
        padding-left:25px;
    }
    .navbar {
        padding-left: 0px;
        padding-right:0px;
    }
    .nav-links {display: none;}
    .navbar .burger {
        float: right;
        display: block;
    }
    .navbar.active {position: relative; display:block}

    .nav-links.active {
        display:block;
        padding-top: 20px;
        float:none;
        display:block;
        text-align:center;
    }
    .navbar > .nav-links > div {
        margin-right: 0;
    }
    .nav-link-wrapper {
        padding: 5px;
        font-weight:bold;
    }
    .nav-link-wrapper:hover {
        border-bottom: 0px transparent;
    }

    .active-nav-link {
        border-bottom: 0px transparent;
        background: darkcyan;
    }
    
    /* About */
    .two-column-wrapper{
        flex-direction: column;
    }

    /* Projects */
    .img-text-wrapper {
        padding: 20px;
    }

    .project-img-background.medlaunch {
        background-position: 88%;
    }
}